In [1]:
# importing pandas to get dataset
import pandas as pd
import numpy as np

In [2]:
# using read_csv
data = pd.read_csv("AirQualityUCI.csv")

In [3]:
# printing data
print(data)

            Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  \
0     10-03-2004  18.00.00       2            6      1360       150
1     10-03-2004  19.00.00       2         1292       112         9
2     10-03-2004  20.00.00       2            2      1402        88
3     10-03-2004  21.00.00       2            2      1376        80
4     10-03-2004  22.00.00       1            6      1272        51
...          ...       ...     ...          ...       ...       ...
9352  04-04-2005  10.00.00       3            1      1314      -200
9353  04-04-2005  11.00.00       2            4      1163      -200
9354  04-04-2005  12.00.00       2            4      1142      -200
9355  04-04-2005  13.00.00       2            1      1003      -200
9356  04-04-2005  14.00.00       2            2      1071      -200

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
0                11        9          1046      166          1056
1                 4      955           103     1174            92
2                 9        0           939      131          1140
3                 9        2           948      172          1092
4                 6        5           836      131          1205
...             ...      ...           ...      ...           ...
9352             13        5          1101      472           539
9353             11        4          1027      353           604
9354             12        4          1063      293           603
9355              9        5           961      235           702
9356             11        9          1047      265           654

      PT08.S5(O3)     T    RH  AH  col_1  col_2  col_3   col_4       X
0             113  1692  1268  13      6   48.0    9.0     0.0  7578.0
1            1559   972    13   3     47    7.0    0.0  7255.0     NaN
2             114  1555  1074  11      9   54.0    0.0     0.0  7502.0
3             122  1584  1203  11      0   60.0    0.0     0.0  7867.0
4             116  1490  1110  11      2   59.0    6.0     0.0  7888.0
...           ...   ...   ...  ..    ...    ...    ...     ...     ...
9352          190  1374  1729  21      9   29.0    3.0     0.0  7568.0
9353          179  1264  1269  24      3   23.0    7.0     0.0  7119.0
9354          175  1241  1092  26      9   18.0    3.0     0.0  6406.0
9355          156  1041   770  28      3   13.0    5.0     0.0  5139.0
9356          168  1129   816  28      5   13.0    1.0     0.0  5028.0

[9357 rows x 20 columns]

In [4]:
# creating 3 variables to consider replacing np.nan with mean, median, and mode

data_mean = data
data_median = data
data_mode = data

In [5]:
# Importing Imputer library from sklearn.preprocessing to take care of missing data
from sklearn.impute import SimpleImputer

In [6]:
# Creating object of imputer class which calculates mean of the column values to replace the NaN values

"""
Parameters:
1. missing_values: int or NaN(default)
2. strategy: mean(default), median, most_frequent (ie mode)
3. axis: 0(default)(impute along columns) 1(impute along rows)
4. verbose: 0(default) [verbose inshort tells the logging info. ref: https://stats.stackexchange.com/questions/153823/what-is-verbose-in-scikit-learn-package-of-python]
5. copy: True(default)(copy of x created)
"""

imputer_mean = SimpleImputer(missing_values = np.nan, strategy = 'mean',  verbose = 0, copy = True)

In [7]:
"""
fit the imputer on the data
"""

"""
data_mean.iloc[:, 2:16] as to select all rows and the columns from 2 to 15
"""

imputer_mean = imputer_mean.fit(data_mean.iloc[:, 2:21])

In [8]:
"""
impute all missing values in the dataset
"""

data_mean.iloc[:, 2:21] = imputer_mean.transform(data_mean.iloc[:, 2:21])

In [9]:
print(data_mean)

            Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  \
0     10-03-2004  18.00.00     2.0          6.0    1360.0     150.0
1     10-03-2004  19.00.00     2.0       1292.0     112.0       9.0
2     10-03-2004  20.00.00     2.0          2.0    1402.0      88.0
3     10-03-2004  21.00.00     2.0          2.0    1376.0      80.0
4     10-03-2004  22.00.00     1.0          6.0    1272.0      51.0
...          ...       ...     ...          ...       ...       ...
9352  04-04-2005  10.00.00     3.0          1.0    1314.0    -200.0
9353  04-04-2005  11.00.00     2.0          4.0    1163.0    -200.0
9354  04-04-2005  12.00.00     2.0          4.0    1142.0    -200.0
9355  04-04-2005  13.00.00     2.0          1.0    1003.0    -200.0
9356  04-04-2005  14.00.00     2.0          2.0    1071.0    -200.0

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
0              11.0      9.0        1046.0    166.0        1056.0
1               4.0    955.0         103.0   1174.0          92.0
2               9.0      0.0         939.0    131.0        1140.0
3               9.0      2.0         948.0    172.0        1092.0
4               6.0      5.0         836.0    131.0        1205.0
...             ...      ...           ...      ...           ...
9352           13.0      5.0        1101.0    472.0         539.0
9353           11.0      4.0        1027.0    353.0         604.0
9354           12.0      4.0        1063.0    293.0         603.0
9355            9.0      5.0         961.0    235.0         702.0
9356           11.0      9.0        1047.0    265.0         654.0

      PT08.S5(O3)       T      RH    AH  col_1  col_2  col_3   col_4  \
0           113.0  1692.0  1268.0  13.0    6.0   48.0    9.0     0.0
1          1559.0   972.0    13.0   3.0   47.0    7.0    0.0  7255.0
2           114.0  1555.0  1074.0  11.0    9.0   54.0    0.0     0.0
3           122.0  1584.0  1203.0  11.0    0.0   60.0    0.0     0.0
4           116.0  1490.0  1110.0  11.0    2.0   59.0    6.0     0.0
...           ...     ...     ...   ...    ...    ...    ...     ...
9352        190.0  1374.0  1729.0  21.0    9.0   29.0    3.0     0.0
9353        179.0  1264.0  1269.0  24.0    3.0   23.0    7.0     0.0
9354        175.0  1241.0  1092.0  26.0    9.0   18.0    3.0     0.0
9355        156.0  1041.0   770.0  28.0    3.0   13.0    5.0     0.0
9356        168.0  1129.0   816.0  28.0    5.0   13.0    1.0     0.0

                X
0     7578.000000
1     5245.150253
2     7502.000000
3     7867.000000
4     7888.000000
...           ...
9352  7568.000000
9353  7119.000000
9354  6406.000000
9355  5139.000000
9356  5028.000000

[9357 rows x 20 columns]

In [10]:
# create object of Simple Imputer class, stategy 'median'

imputer_median = SimpleImputer(missing_values = np.nan, strategy = 'median',  verbose = 0, copy = True)

In [11]:
"""
fit the imputer on the data
"""

"""
data_mean.iloc[:, 2:16] as to select all rows and the columns from 2 to 15
"""

imputer_median = imputer_median.fit(data_median.iloc[:, 2:21])

In [12]:
"""
impute all missing values in the dataset
"""

data_median.iloc[:, 2:21] = imputer_mean.transform(data_median.iloc[:, 2:21])

In [13]:
print(data_median)

            Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  \
0     10-03-2004  18.00.00     2.0          6.0    1360.0     150.0
1     10-03-2004  19.00.00     2.0       1292.0     112.0       9.0
2     10-03-2004  20.00.00     2.0          2.0    1402.0      88.0
3     10-03-2004  21.00.00     2.0          2.0    1376.0      80.0
4     10-03-2004  22.00.00     1.0          6.0    1272.0      51.0
...          ...       ...     ...          ...       ...       ...
9352  04-04-2005  10.00.00     3.0          1.0    1314.0    -200.0
9353  04-04-2005  11.00.00     2.0          4.0    1163.0    -200.0
9354  04-04-2005  12.00.00     2.0          4.0    1142.0    -200.0
9355  04-04-2005  13.00.00     2.0          1.0    1003.0    -200.0
9356  04-04-2005  14.00.00     2.0          2.0    1071.0    -200.0

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
0              11.0      9.0        1046.0    166.0        1056.0
1               4.0    955.0         103.0   1174.0          92.0
2               9.0      0.0         939.0    131.0        1140.0
3               9.0      2.0         948.0    172.0        1092.0
4               6.0      5.0         836.0    131.0        1205.0
...             ...      ...           ...      ...           ...
9352           13.0      5.0        1101.0    472.0         539.0
9353           11.0      4.0        1027.0    353.0         604.0
9354           12.0      4.0        1063.0    293.0         603.0
9355            9.0      5.0         961.0    235.0         702.0
9356           11.0      9.0        1047.0    265.0         654.0

      PT08.S5(O3)       T      RH    AH  col_1  col_2  col_3   col_4  \
0           113.0  1692.0  1268.0  13.0    6.0   48.0    9.0     0.0
1          1559.0   972.0    13.0   3.0   47.0    7.0    0.0  7255.0
2           114.0  1555.0  1074.0  11.0    9.0   54.0    0.0     0.0
3           122.0  1584.0  1203.0  11.0    0.0   60.0    0.0     0.0
4           116.0  1490.0  1110.0  11.0    2.0   59.0    6.0     0.0
...           ...     ...     ...   ...    ...    ...    ...     ...
9352        190.0  1374.0  1729.0  21.0    9.0   29.0    3.0     0.0
9353        179.0  1264.0  1269.0  24.0    3.0   23.0    7.0     0.0
9354        175.0  1241.0  1092.0  26.0    9.0   18.0    3.0     0.0
9355        156.0  1041.0   770.0  28.0    3.0   13.0    5.0     0.0
9356        168.0  1129.0   816.0  28.0    5.0   13.0    1.0     0.0

                X
0     7578.000000
1     5245.150253
2     7502.000000
3     7867.000000
4     7888.000000
...           ...
9352  7568.000000
9353  7119.000000
9354  6406.000000
9355  5139.000000
9356  5028.000000

[9357 rows x 20 columns]

In [14]:
# create object of Simple Imputer class, stategy 'median'

imputer_mode = SimpleImputer(missing_values = np.nan, strategy = 'most_frequent',  verbose = 0, copy = True)

In [15]:
"""
fit the imputer on the data
"""

"""
data_mean.iloc[:, 2:16] as to select all rows and the columns from 2 to 15
"""

imputer_mode = imputer_mode.fit(data_mode.iloc[:, 2:21])

In [16]:
"""
impute all missing values in the dataset
"""

data_mode.iloc[:, 2:21] = imputer_mode.transform(data_mode.iloc[:, 2:21])

In [17]:
print(data_mode)

            Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  \
0     10-03-2004  18.00.00     2.0          6.0    1360.0     150.0
1     10-03-2004  19.00.00     2.0       1292.0     112.0       9.0
2     10-03-2004  20.00.00     2.0          2.0    1402.0      88.0
3     10-03-2004  21.00.00     2.0          2.0    1376.0      80.0
4     10-03-2004  22.00.00     1.0          6.0    1272.0      51.0
...          ...       ...     ...          ...       ...       ...
9352  04-04-2005  10.00.00     3.0          1.0    1314.0    -200.0
9353  04-04-2005  11.00.00     2.0          4.0    1163.0    -200.0
9354  04-04-2005  12.00.00     2.0          4.0    1142.0    -200.0
9355  04-04-2005  13.00.00     2.0          1.0    1003.0    -200.0
9356  04-04-2005  14.00.00     2.0          2.0    1071.0    -200.0

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
0              11.0      9.0        1046.0    166.0        1056.0
1               4.0    955.0         103.0   1174.0          92.0
2               9.0      0.0         939.0    131.0        1140.0
3               9.0      2.0         948.0    172.0        1092.0
4               6.0      5.0         836.0    131.0        1205.0
...             ...      ...           ...      ...           ...
9352           13.0      5.0        1101.0    472.0         539.0
9353           11.0      4.0        1027.0    353.0         604.0
9354           12.0      4.0        1063.0    293.0         603.0
9355            9.0      5.0         961.0    235.0         702.0
9356           11.0      9.0        1047.0    265.0         654.0

      PT08.S5(O3)       T      RH    AH  col_1  col_2  col_3   col_4  \
0           113.0  1692.0  1268.0  13.0    6.0   48.0    9.0     0.0
1          1559.0   972.0    13.0   3.0   47.0    7.0    0.0  7255.0
2           114.0  1555.0  1074.0  11.0    9.0   54.0    0.0     0.0
3           122.0  1584.0  1203.0  11.0    0.0   60.0    0.0     0.0
4           116.0  1490.0  1110.0  11.0    2.0   59.0    6.0     0.0
...           ...     ...     ...   ...    ...    ...    ...     ...
9352        190.0  1374.0  1729.0  21.0    9.0   29.0    3.0     0.0
9353        179.0  1264.0  1269.0  24.0    3.0   23.0    7.0     0.0
9354        175.0  1241.0  1092.0  26.0    9.0   18.0    3.0     0.0
9355        156.0  1041.0   770.0  28.0    3.0   13.0    5.0     0.0
9356        168.0  1129.0   816.0  28.0    5.0   13.0    1.0     0.0

                X
0     7578.000000
1     5245.150253
2     7502.000000
3     7867.000000
4     7888.000000
...           ...
9352  7568.000000
9353  7119.000000
9354  6406.000000
9355  5139.000000
9356  5028.000000

[9357 rows x 20 columns]